<!--<app-interpolation></app-interpolation>
<app-modcom></app-modcom>
<app-click-function></app-click-function>
<app-events></app-events>
<app-get-input-value></app-get-input-value>
<app-property-bind></app-property-bind>
<app-conditional-statement></app-conditional-statement>
<app-switch-case></app-switch-case>
<app-for-loop></app-for-loop>
<app-simple-form></app-simple-form>
<app-style-binding></app-style-binding>
<app-parent></app-parent>
<app-parent-two></app-parent-two>
<app-pipes></app-pipes>-->

<!--<button routerLink=routerone>Router One!</button>
<br><br>
<button routerLink=routertwo>Router Two!</button>
<br><br>
<button routerLink=routerthree>Router Three!</button>
<br><br>
<router-outlet></router-outlet>-->

<!--<h3 appCustomDirective>Custom Directive Heading!</h3>-->

<!--<app-pipes></app-pipes>-->

<!--<app-models-interfaces></app-models-interfaces>-->

<!--<button routerLink=one>One!</button>
<br><br>
<button routerLink=two>Two!</button>
<br><br>
<router-outlet></router-outlet>-->

<!--<button routerLink=onecomponent>One Component!</button>
<br><br>
<button routerLink=twocomponent>Two Component!</button>
<br><br>
<router-outlet></router-outlet>-->

<!--<button routerLink="oneadmin/customer">Customer!</button>
<br><br>
<button routerLink="oneadmin/cleaner">Cleaner!</button>
<br><br><hr><br>
<button routerLink="twoadmin/customer">Customer!</button>
<br><br>
<button routerLink="twoadmin/cleaner">Cleaner!</button>
<br><br>
<router-outlet></router-outlet>-->

<!--<button routerLink="lazy/myone">Customer!</button>
<br><br>
<button routerLink="lazy/mytwo">Cleaner!</button>
<br><br>
<router-outlet></router-outlet>-->

<!--
    call API HTTP
    show list from API Data
    Lazy Loading component
-->